*{
    padding: 5px;
    margin: 10px;
}

body{
   text-align: center;
}
.main-card{
    border-radius: 1%;
    box-shadow: #c4afaf -4px -4px 8px, rgb(196, 196, 196) 4px 4px 8px;
    background-color: rgb(234, 255, 234);
}
img{
    margin-right: 10%;
}

.social-media  a{
    /* text-decoration: none; */
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 32px;
    margin: 0 10px;
    color: rgb(8, 233, 147);
    display:inline-block;
    border-radius: 25%; 
    overflow:hidden;

  }

  .social-media a{
      box-shadow:
      whitesmoke 0px 0px 2px 2px,
      #000000 -4px -4px 8px,
      #fff4f4 4px 4px 8px;
     
  }
  #flipper{
      cursor: progress;
  }
/* 
  .social-media  a:visited{
      color: blue
  }
  .social-media  a:hover{
      color: green;
  } */
